{% extends "admin/base.html" %}

{% block title %}Edit User{% endblock %}

{% block content %}
<h1>Edit User</h1>
<hr>
<form method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" value="{{ user.email }}" required>
    </div>
    <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" name="role" required>
            <option value="customer" {% if user.role == 'customer' %}selected{% endif %}>Customer</option>
            <option value="volunteer" {% if user.role == 'volunteer' %}selected{% endif %}>Volunteer</option>
            <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Administrator</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update User</button>
</form>
{% endblock %}